/* 1~5 */
.lv-bg-1 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-2 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-3 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-4 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-5 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
/* 6~10 */
.lv-bg-6 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -384px -16px no-repeat;
}
.lv-bg-7 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -384px -16px no-repeat;
}
.lv-bg-8 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -384px -16px no-repeat;
}
.lv-bg-9 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -384px -16px no-repeat;
}
.lv-bg-10 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -384px -16px no-repeat;
}
/* 11~15 */
.lv-bg-11 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -416px 0px no-repeat;
}
.lv-bg-12 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -416px 0px no-repeat;
}
.lv-bg-13 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -416px 0px no-repeat;
}
.lv-bg-14 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -416px 0px no-repeat;
}
.lv-bg-15 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -416px 0px no-repeat;
}
/* 16~20 */
.lv-bg-16 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -64px -16px no-repeat;
}
.lv-bg-17 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -64px -16px no-repeat;
}
.lv-bg-18 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -64px -16px no-repeat;
}
.lv-bg-19 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -64px -16px no-repeat;
}
.lv-bg-20 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -64px -16px no-repeat;
}
/* 21~25 */
.lv-bg-21 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -448px 0px no-repeat;
}
.lv-bg-22 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -448px 0px no-repeat;
}
.lv-bg-23 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -448px 0px no-repeat;
}
.lv-bg-24 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -448px 0px no-repeat;
}
.lv-bg-25 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -448px 0px no-repeat;
}
/* 26~30 */
.lv-bg-26 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -544px 0px no-repeat;
}
.lv-bg-27 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -544px 0px no-repeat;
}
.lv-bg-28 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -544px 0px no-repeat;
}
.lv-bg-29 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -544px 0px no-repeat;
}
.lv-bg-30 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -544px 0px no-repeat;
}
/* 31~35 */
.lv-bg-31 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-32 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-33 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-34 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-35 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
/* 36~40 */
.lv-bg-36 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -256px 0px no-repeat;
}
.lv-bg-37 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -256px 0px no-repeat;
}
.lv-bg-38 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -256px 0px no-repeat;
}
.lv-bg-39 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -256px 0px no-repeat;
}
.lv-bg-40 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -256px 0px no-repeat;
}
/* 41~45 */
.lv-bg-41 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-42 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-43 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-44 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-45 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
/* 46~50 */
.lv-bg-46 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-47 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-48 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-49 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-50 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
/* 51~55 */
.lv-bg-51 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-52 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-53 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-54 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
.lv-bg-55 {
  background: url('https://p3.ssl.qhimg.com/d/inn/b627f2fb/sprite.png') -352px -16px no-repeat;
}
/*# sourceMappingURL=level.css.map */